/* NAVIGATION */
#logo{
    width: 70px;
}

#search-field{
    height:30px;
}

element.style {
    color: white;
}
#search-field {
    height: 2rem;
    /* width: 20rem; */
    min-width: 110px;
    max-width: 500px;
    border: none;
}
form{
    padding: 9px 4px 9px 40px;
}

#nav-options{
    border-left: 1px solid grey;
}

a:hover{
    cursor: pointer;
}

/* SEARCH RESULT */

#movie-card{
    background-image: linear-gradient( rgb(255, 204, 0),rgb(0, 0, 0, 0.6) 100%);
    box-shadow: 0 1px 55px 2px rgba(228, 181, 86, 0.568);
    border: 3px solid rgb(255, 255, 255);
    border-radius: 10px;
}

/* FAVORITE MOVIE PAGE */

.fav-movie-item .release-date, .fav-movie-item .card-title{
    transition: all 0.5s !important;
}


.fav-movie-item:hover{
    background-image: linear-gradient(rgb(255,193,7), rgb(0, 0, 0,0.5)) !important;
    font-size: 1.3rem;
}
.fav-movie-item:hover .release-date{
    color:white !important;
}
.fav-movie-item:hover .card-title{
    font-size: 2.5rem !important;
    color: black !important;
    border-bottom: 1px solid black;
    margin-top: -3px !important;
}